.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: $font-weight-normal;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-family: inherit;
  // 기본 패딩 및 폰트 크기 설정 (필요한 경우 커스텀 스타일로 재정의)
  padding: 12px 20px;
  font-size: 20px;
  width: 100%; // 기본으로 전체 너비 사용

  &:active {
    transform: scale(0.98);
  }

  &:disabled {
    background-color: $con-gray;
    color: $text-sub;
    cursor: not-allowed;

    &:hover {
      opacity: 1;
    }

    &:active {
      transform: none;
    }
  }

  // 버튼 변형(variant)
  &--primary {
    background-color: $con-blue;
    color: white;
  }

  &--outline {
    background-color: #fff;
    border: 1px solid $con-blue;
    color: $con-blue;

    &:disabled {
      background-color: $con-gray;
      border: none;
      color: $text-sub;
      cursor: not-allowed;

      &:hover {
        opacity: 1;
      }

      &:active {
        transform: none;
      }
    }
  }
}

// 아이콘 스타일링
.leftIcon {
  display: inline-flex;
  margin-right: 8px;
}

.rightIcon {
  display: inline-flex;
  margin-left: 8px;
}

.content {
  display: inline-flex;
}
