// NanumSquareNeo-Variable 폰트 설정
@font-face {
  font-family: 'NanumSquareNeo-Variable';
  font-weight: 300 800;
  font-style: normal;
  font-display: swap;
  src:
    local('NanumSquareNeo-Variable'),
    url('../../fonts/NanumSquareNeo-Variable.woff2') format('woff2-variations');
  // url('../../fonts/NanumSquareNeo-Variable.woff') format('woff-variations');
}
