.captchaOverlay {
  position: fixed;
  inset: 0;
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.captchaContainer {
  z-index: 50;
  width: 100%;
  max-width: 300px;
  border-radius: $border-radius-md;
  background-color: white;
  overflow: hidden;
}

.captchaTitle {
  font-size: $font-size-xl;
  font-weight: $font-weight-bold;
  color: $con-blue;
  text-align: center;
  padding-top: $spacing-sm;
  margin: $spacing-md 0;
}

.captchaInfo {
  margin-top: 0;
  text-align: center;
  color: $text-sub;
  font-size: $font-size-sm;
  padding: 0 $spacing-md;
}

.captchaContent {
  padding: 0 $spacing-lg $spacing-lg;
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
}

.captchaDisplay {
  display: flex;
  justify-content: space-between;
  gap: $spacing-sm;
  border: 1px solid $con-gray;
  border-radius: $border-radius-sm;
}

.captchaText {
  display: flex;
  flex: 1;
  user-select: none;
  align-items: center;
  justify-content: center;
  // min-height: 80px;
  padding: $spacing-lg;
  align-items: center;
  text-align: center;
  font-size: $font-size-3xl;
  font-weight: $font-weight-bold;
  letter-spacing: 0.1em;
  font-style: italic;
  transform: skewX(-10deg); // 기울어진 텍스트 효과
}

.captchaActions {
  display: flex;
  flex-direction: column;
  border-left: 1px solid $con-gray;

  button {
    padding: $spacing-md;
    background-color: white;
    border: none;
    border-bottom: 1px solid $con-gray;
    height: 50%;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: #f5f5f5;
    }
  }
}

.actionButton {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 20px;
    height: 20px;
    color: $text-sub;
  }
}

.captchaInput {
  width: 100%;
  border-radius: $border-radius-sm;
  border: 1px solid $con-gray;
  padding: $spacing-md;
  letter-spacing: 0.1em;
  font-size: $font-size-sm;

  &::placeholder {
    color: $text-sub;
    font-size: $font-size-xs;
  }
}

.errorMessage {
  color: #eb674c;
  text-align: center;
  font-size: $font-size-xs;
}

.submitButton {
  display: flex;
  justify-content: center;

  button {
    border: none;
    border-radius: $border-radius-full;
    background-color: $con-blue;
    padding: $spacing-sm 0;
    width: 100%;
    color: white;
    font-weight: $font-weight-medium;
  }
}

.postponeButton {
  border: none;
  background-color: transparent;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: $font-size-xs;
  color: $text-sub;
  text-decoration: underline;
}
