.shelterList {
  max-height: 305px; // 3개의 카드가 보이도록 설정
  overflow-y: auto; // 세로 스크롤 활성화
  // padding-right: 0.5rem; // 스크롤바 공간 확보
  margin: 10px 0;

  // 스크롤바 스타일링
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #ccc;
  }
}
