.loginButton {
  background-color: #f7e600;
  color: #000;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 20px;
  cursor: pointer;
  width: 80%;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.kakao {
  width: 20px;
  height: 20px;
  color: #000;
  fill: #000;
}

.noLogin {
  background-color: #a7deff;
  color: #000;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 20px;
  cursor: pointer;
  width: 80%;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
