// styles/globals.scss
@use './base/reset';
@use './base/typography';
@use './base/animations';
@use './abstracts/variables' as *;
@use './abstracts/mixins' as *;

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-family-base;
  color: $color-text;
  background-color: $color-background;
}

a {
  color: $color-primary;
  text-decoration: none;
  @include transition;

  &:hover {
    color: $color-primary-dark;
  }
}

* {
  box-sizing: border-box;
}
