.dashboard {
  padding: 20px;
  margin: 10px;
  background-color: $yh-beige;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}

.userHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.userText {
  font-size: $font-size-md;
  font-weight: 800;
  margin: 0;
  color: #333;
  line-height: 1.4;
}

.accentText {
  color: $yh-orange;
  font-weight: 600;
}

.userBtns {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  z-index: 3;
}

.userSettingsButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 15px;
}

.adminButton {
  width: auto;
  align-self: flex-start;
}

.reportButtonWrapper {
  position: relative;
}

.summaryGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.75rem;
  z-index: 2;
  position: relative;
}

.dogImageContainer {
  position: absolute;
  right: -1%;
  top: -160%;
  z-index: 1;
}

.dogImage {
  width: 236px;
  height: auto;
}

// 반응형 스타일
@media (max-width: 768px) {
  .dogImageContainer {
    right: -1%;
  }
}

@media (max-width: 480px) {
  .dogImageContainer {
    right: -4%;
  }
}

@media (max-width: 360px) {
  .dogImageContainer {
    right: -15%;
  }
}
