.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  background: radial-gradient(circle, #dbeefd 0%, #ffffff 80%);
  padding: 0 24px;
  overflow: hidden;
}

.progressBar {
  margin-bottom: 10px;
}

.content {
  width: 100%;
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  row-gap: 15px;
  overflow: hidden;
}

.titleContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #222;
}

.desc {
  font-size: 14px;
  font-weight: 600;
  color: #1976ed;
  margin-bottom: 10px;
}
