@use '@/assets/styles/abstracts/variables' as *;

.shelterPage {
  display: flex;
  padding: $spacing-xl $spacing-sm;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  background-color: $yh-admin-bg;
  min-height: 100vh;
}

.header {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  margin-bottom: $spacing-md;
  width: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center; // flex-start에서 center로 변경
  width: 100%; // 너비 100%로 설정
  gap: 8px;
  text-align: center; // 텍스트도 가운데 정렬 유지
}
.subTitle {
  align-items: center;
  text-align: center;
  font-size: $font-size-sm;
  color: $yh-orange;
  font-weight: $font-weight-medium;
}

.mainTitle {
  font-size: $font-size-3xl;
  color: $text-333;
  font-weight: $font-weight-bold;
}

.searchBar {
  width: 100%;
  max-width: 400px;
}

.shelterList {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
  width: 100%;
}

.dropdownContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.shelters {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
