.dashboardContainer {
  padding: 10px;
}

.profileLayout {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tabMenu {
  position: sticky;
  top: 0; /* 상단에 고정 */
  z-index: 100;
  background-color: white;
}
