.donationForm {
  margin: 10px;
  margin-top: 0;
}

.progressBarContainer {
  position: sticky;
  top: 0;
  z-index: 10;
}

.donationSummary {
  text-align: center;
  font-size: $font-size-md;
  color: #000;
  margin: 2rem 0.5rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;

  .submitButton {
    width: 100%;
  }
}
