.donationForm {
  margin: 10px;
  margin-top: 0;
}

.description {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: center;
  margin: 0.5rem 0;
  font-size: $font-size-sm;

  strong {
    margin-right: 0.5rem;
    color: $chart-yellow;
    font-size: $font-size-md;
  }

  p {
    margin: 0.4rem 0;
  }
}

.progressBarContainer {
  position: sticky;
  top: 0;
  z-index: 10;
}

.donationSummary {
  text-align: center;
  font-size: $font-size-md;
  color: #000;
  margin: 2rem 0.5rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;

  .submitButton {
    width: 100%;
  }
}
