.container {
  display: flex;
  flex: 1;
  width: 100%;
  padding: 0 $spacing-md;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.help {
  color: $text-sub;
  padding: $spacing-xl 0;
}

.selects {
  display: flex;
  gap: $spacing-md;
  justify-content: flex-start;
  padding: $spacing-md $spacing-sm $spacing-md 0;

  align-self: flex-start;
}
