.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.card {
  background-color: white;
  border-radius: $border-radius-lg;
  padding: $spacing-xl;
  margin: $spacing-xl 0;
  box-shadow: $shadow-con;
  width: 100%;
  max-width: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
}

.message {
  color: $text-main;
  font-size: $font-size-xs;
}
