.sectionBox {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-bottom: 10px;
  gap: 8px;
}

.titleArea {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.title {
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  margin: 0;
}

.subtitle {
  font-size: $font-size-md;
  font-weight: $font-weight-medium;
  margin: 10px 0 0;
}

.content {
  background-color: #f7f7f7;
  border-radius: 20px;
  padding: 20px;
}

.titleRight {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
