@use '@/assets/styles/abstracts/variables' as *;

.dogsLayout {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contentContainer {
  flex: 1;
}

// 반응형 스타일
@media (max-width: $breakpoint-md) {
  .contentContainer {
    padding: 0;
  }
}
