.card {
  display: flex;
  gap: 10px;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease;
  padding: 16px;

  .iconBtn {
    border: 1px solid #ccc;
    height: auto;
    span {
      padding: 4px 0;
    }

    &:hover {
      transform: none;
      background-color: #fff;
    }
  }
}

.imageWrapper {
  aspect-ratio: 1 / 1;
  max-width: 200px;
  min-width: 50px;
  overflow: hidden;
  border-radius: 16px;
  min-width: 130px;

  @media screen and (max-width: 360px) {
    min-width: 120px;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2px 0;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 1; // 표시할 줄 수 (2줄)
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  word-break: break-word; // 단어가 너무 길 경우 끊어서 표시
}

.description {
  font-size: 14px;
  color: #666;
  margin-bottom: 16px;
  line-height: 1.5;
  // ... 설정
  display: -webkit-box;
  -webkit-line-clamp: 3; // 표시할 줄 수 (2줄)
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  word-break: break-word; // 단어가 너무 길 경우 끊어서 표시

  @media screen and (max-width: 360px) {
    -webkit-line-clamp: 2; // 표시할 줄 수 (2줄)
  }
}

.stats {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}

.stat {
  display: flex;
  align-items: center;
  gap: 4px;

  span {
    font-size: 14px;
    color: #666;
  }
}
