.logoutBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  border: none;
  border-radius: 100%;
  background-color: $yh-yellow;
  color: white;
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:active {
    transform: scale(0.98);
  }
}
