.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &[role='button'] {
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}
