.messageWrapper {
  display: flex;
  margin-bottom: 12px;

  &.mine {
    justify-content: flex-end;
  }

  &.other {
    justify-content: flex-start;
  }
}

.message {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mine .message {
  align-items: flex-end;
}

.bubbleRow {
  display: flex;
  align-items: flex-end;
  gap: 6px;
}

.bubble {
  background: #ecf7ff;
  padding: 10px 14px;
  border-radius: 10px;
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
  color: $text-main;
  line-height: 1.5;
  white-space: pre-wrap;
  word-break: break-word;
  position: relative;
  min-width: 36px;
  max-width: 350px;
  min-height: 24px;
  cursor: pointer;
}

.mine .bubble {
  background: #d2e4ff;
  order: 1;
}

.mine .meta {
  order: 0;
}

.meta {
  font-size: 10px;
  color: #999;
  margin-bottom: 2px;
  font-weight: $font-weight-normal;
  align-self: flex-end;
  white-space: nowrap;
}

.nickname {
  font-size: 12px;
  color: $con-blue;
  margin-top: 2px;
  margin-left: 4px;
  margin-bottom: 4px;
  font-weight: $font-weight-medium;
}

.replyBox {
  cursor: pointer;
  color: $text-sub;
  font-size: $font-size-xs;
  white-space: wrap;
}

.replyDivider {
  border: none;
  border-top: 1px solid #a7deff;
  margin: 8px 0;
  width: 100%;
}

.replyContent {
  font-size: 13px;
  color: $text-sub;
  font-size: $font-size-xs;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: wrap;
  line-height: 1.2;
}

.messageContent {
  cursor: pointer;
}

.timeWrapper {
  margin-top: 4px;
  display: flex;
  justify-content: flex-end;
}
