.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: $con-blue;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);

  &:hover {
    opacity: 0.9;
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(0);
  }
}
