// app/sight/page.module.scss
.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 0;
  height: calc(100dvh - 64px);
  overflow: hidden;
}

.search {
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0;
  padding: 10px;
  z-index: 10;
  overflow: hidden;
}

.arenaList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
  height: calc(100dvh - 109px); // 상단 검색바 높이 고려하여 조정
  overflow-y: auto; // 스크롤 가능하도록 설정
  padding: 10px;
  padding-bottom: 20px;

  scrollbar-width: none; /* Firefox */
  ::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
}

.noResults {
  text-align: center;
  padding: 40px;
  color: #666;
}

.arenaCardSkeleton {
  border-radius: 8px;
  background: #f0f0f0;
  padding: 16px;

  .skeletonImage {
    width: 100%;
    height: 200px;
    background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    border-radius: 4px;
    margin-bottom: 12px;
  }

  .skeletonText {
    height: 20px;
    background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .skeletonTextShort {
    height: 20px;
    width: 70%;
    background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    border-radius: 4px;
  }
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
